
.center {
    align-content: center;
    text-align: center;
    width: 100%;
    padding-top: 10rem;
}

.top {
     margin-top:top: 50px;
}
.text{
    text-align: center;
    color: aliceblue;
    background-color: #87898B;
    opacity: 0.9;
    margin-top: 20px;
}
.b{
    border-left:1px solid #fff; 
}