body{
margin:100px; 
width: 100%; 
height: 900px;
background-image: url(../images/bg.jpg);
background-size:cover;
margin:0px;
border: 2px solid white;
background-color: 
}
header{
    background-color: #212933;
    height: 100px;
    color: #F39823;
    font-size: 20px;

}

.maincontent{
background-color: #87898B;
opacity: 0.9;


}
.content{
height: 400px;
width: 100%;
padding-top:200px;
color: white;
   
}
.clear{
    clear: both;
}
.Tel{
    text-align: center;
    background-color: #878D8D;
    opacity: 0.9;
}
.footer{
    background-color: #5D6665;
    height:230px;
    max-width:100%;
    
}
.fol{
   background-color: #878D8D;
    opacity: 0.9; 
}